body{
    background-color : black;
    color: greenyellow;
    font-family: vt323,sans-serif;
}
button{
    background-color : black;
    border: none;
    transition: transform .2s;
}
.choices{
    display:flex;
    justify-content: center;
    align-items: center;
    border: red;
    gap:60px;
}
.title{
    font-size: 40px;
    text-align: center;
}
.results{
    display:flex;
    justify-content: center;
    padding-top:5px;
}
.box{
    background-color:rgb(56, 55, 55);
    width:500px;
    height: 120px;
    border-radius: 10px;

}
button:hover{
    transform: scale(1.5);
}
.result{
    font-size: 35px;
    text-align: center;
}
.box-container{
    display:flex;
}
.player-score, 
.computer-score{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    width:180px;
}
.player-score p, 
.computer-score p{
    margin:0px 40px;
}
#player, #computer{
    align-self:center;  
}
.game-count{
    text-align: center;
    font-size: 50px;
}